.loader {
  width: 11px;
  height: 11px;
  animation: loader 1s infinite linear;
  border-radius: 11px;
  box-shadow: 28px 0 0 0 #aec0de,
  17px 21px 0 0 #36b7d6,
  -6px 27px 0 0 #057cc9,
  -25px 12px 0 0 #faf8d8,
  -25px -12px 0 0 #658bbe,
  -6px -27px 0 0 #066bae,
  17px -21px 0 0 #18aedc,
}

.loaderSmall {
  width: 4px;
  height: 4px;
  animation: loader 1s infinite linear;
  border-radius: 4px;
  box-shadow: 9px 0 0 0 #aec0de,
  6px 7px 0 0 #36b7d6,
  -2px 9px 0 0 #057cc9,
  -8px 4px 0 0 #faf8d8,
  -8px -4px 0 0 #658bbe,
  -2px -9px 0 0 #066bae,
  6px -7px 0 0 #18aedc;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}