.contentWrapper {
  display: flex;
  min-height: 580px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-sm);
}

.loaderWrapper {
  height: 500px;
  display: flex;
  align-items: center;
}