.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

th, td {
  text-align: center;
}

thead th {
  font-family: var(--header-font-family);
}

tbody {
  overflow: scroll;
}

tbody tr {
  height: 40px;
  cursor: pointer;
  transition: var(--base-transition);

  &:hover {
    background: white;
  }
}

table {
  padding: var(--gap-md);
  max-height: 474px;
  backdrop-filter: blur(var(--backdrop-filter));
  border-spacing: 0;
}

.noData {
  padding: var(--gap-lg);
}