.contentWrapper {
  backdrop-filter: blur(var(--backdrop-filter));
  height: 500px;
  padding: var(--gap-md);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xxl);
  z-index: 100;
  position: relative;
}

.buttonGroupWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap-sm);
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dataItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);

  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-sm);
  }

  &Header {
    font-weight: bold;
  }
}

.abilitiesWrapper {
  display: flex;
  gap: var(--gap-sm);
}

.abilityWrapper {
  background: var(--gray-color);
  padding: var(--gap-xs) var(--gap-sm);
}

.selectListDisabledOption {
  pointer-events: none;
  background: var(--gray-color);
}

.validationMessage {
  background: white;
  padding: var(--gap-sm);
  color: var(--red-color);
}