:root {
    -webkit-font-smoothing: antialiased;

    --gap-xs: 8px;
    --gap-sm: 16px;
    --gap-md: 24px;
    --gap-lg: 32px;
    --gap-xl: 48px;
    --gap-xxl: 64px;

    --base-transition: 0.3s;
    --backdrop-filter: 10px;

    --header-font-family: "Black Mango", Arial, sans-serif;
    --body-font-family: "NeverMind Display", Arial, sans-serif;

    --red-color: #ff5950;
    --green-color: #75ba4b;
    --gray-color: #b3b3b3;
    --light-black-color: #5e5e5e;
}

body {
    padding: var(--gap-md);
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: var(--body-font-family);
    overflow: hidden;
}